html , body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
}

*{
    box-sizing: border-box;
}

/* Navbar */

nav {
    color: grey;
    padding: 25px;
    position: sticky;
    top:0;
    background-color: white;
    font-size: 20px;
    z-index: 1;
}

nav span {
    text-transform: uppercase;
    margin-right: 50px;
    color: #1177B7;
    font-weight: bolder;
}

nav a {
    text-decoration: none;
    margin-left: 25px;
    color: grey;
}

nav a:hover {
    color: #1177B7;
}

/* Header */ 

header {
    background-image: linear-gradient(115deg,rgba(125, 125, 125, 0.7),rgba(133, 133, 133, 0.7)), url(image_720.png);
    background-size: cover;
    height: 40vh;
    color: white;
    text-align: center;
    padding-top: 100px;
}

/* Pricing */ 

.pricing{
    display: flex;
    justify-content: center;
}

.pricing .card {
    width: 30%;
    margin: 50px auto 0;
    text-align: center;
    border: 1px solid grey;
}

.pricing .card:hover{
    animation: pulse 1s;
}

.pricing .card .chead {
    width: 100%;
    color: white;
    padding: 10px;
    background-color: rgb(61, 157, 61)  ;
}

.pricing .card .chead p:first-child {
    font-size: 20px;
}


.pricing .card .chead span{
    font-weight: bold;
    font-size: 48px;
}

.pricing .card .cprop {
    background-color: hsl(160deg 43% 90%)
}

.pricing .card .cprop p{
    
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid hsl(221deg 24% 54%);
}

.pricing .card .cbtn {
    padding: 20px;
    height: 60px;
}

.pricing .card .cbtn a {
    text-decoration: none;
    color: black;
    border: 1px solid grey;
    border-radius: 50px;
    padding: 5px 10px;
    font-weight: bold;
}

.pricing .card .cbtn a:hover {
    background-color: lightgrey;
    color: #1177B7;
}

.pricing .card:nth-child(2) .chead{
    background-color: rgb(61, 63, 157)
    ;
}

.pricing .card:nth-child(3) .chead{
    background-color: black;
}

/* text */ 

.text {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 25px auto;
}

.text .article {
    flex: 50%; 

}

/* footer */ 

footer {
    clear: both;
    background-color: black;
    height: 70px;
    padding: 5px;
    color: grey;
    text-align: center;
}

footer a {
    color: lightgrey;
}

/* custom scroll bar */ 

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: lightgrey; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1177B7; 
    border-radius: 100px;
  }



